@model CASS___Construction_Assistance.Models.APIresult

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="col-xl-12">
    <h4 class="fw-bold mb-4"><span class="text-muted fw-light">Admin /</span> Customer</h4>
    <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-customer"
                        aria-controls="navs-pills-justified-customer"
                        aria-selected="true">
                    <i class="tf-icons bx bx-user"></i> Customer

                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-registered"
                        aria-controls="navs-pills-justified-registered"
                        aria-selected="false">
                    <i class="tf-icons bx bx-list-ol"></i> Registered Order
                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-finished"
                        aria-controls="navs-pills-justified-finished"
                        aria-selected="false">
                    <i class="tf-icons bx bx-calendar-check"></i> Finished Order
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Customer List -->
            <div class="tab-pane fade show active" id="navs-pills-justified-customer" role="tabpanel">
                <h5 class="card-header">Customer List</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table" id="test1">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                            }
                            @foreach (var APIusers in Model.users)
                            {
                                count = count + 1;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@APIusers.Name</td>
                                    <td>@APIusers.Email</td>
                                    <td>@APIusers.Phone</td>
                                    <td style="text-align: center"><button id="edit-@APIusers.Id" class="btn btn-outline-danger py-2 px-4">Delete Account</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Registered Order -->
            <div class="tab-pane fade" id="navs-pills-justified-registered" role="tabpanel">
                <h5 class="card-header">Registered Order</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>Customer Name</th>
                                <th>Project Name</th>
                                <th>Constructor Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                count = 0;
                            }
                            @foreach (var Project in Model.filteredProjects1)
                            {
                                count = count + 1;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@Project.Customer_Name</td>
                                    <td>@Project.Name</td>
                                    <td>@Project.Constructor_Name</td>
                                    @{
                                        if (Project.Status == "Pending")
                                        {
                                            <td><span class="badge bg-label-warning me-1">@Project.Status</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge bg-label-primary me-1">@Project.Status</span></td>
                                        }
                                    }
                                    <td style="text-align: center">
                                        <button data-bs-toggle="modal" data-bs-target="#detailsModal-@Project.Id" class="btn btn-outline-primary py-2 px-4">
                                            View Details
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Finished Order -->
            <div class="tab-pane fade" id="navs-pills-justified-finished" role="tabpanel">
                <h5 class="card-header">Finished Order</h5>
                <div class="table-responsive text-nowrap" style="height: 500px; overflow: auto">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>Customer Name</th>
                                <th>Project Name</th>
                                <th>Constructor Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                count = 0;
                            }
                            @foreach (var Project in Model.filteredProjects2)
                            {
                                count = count + 1;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@Project.Customer_Name</td>
                                    <td>@Project.Name</td>
                                    <td>@Project.Constructor_Name</td>
                                    <td><span class="badge bg-label-success me-1">@Project.Status</span></td>
                                    <td style="text-align: center">
                                        <button data-bs-toggle="modal" data-bs-target="#detailsModal-@Project.Id" class="btn btn-outline-primary py-2 px-4">
                                            View Details
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buy-now">
    <a class="btn btn-primary btn-buy-now text-white" data-bs-toggle="modal"
       data-bs-target="#largeModal">Send Promo</a>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Send Promo</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameLarge" class="form-label">Message</label>
                        <textarea type="text" id="nameLarge" class="form-control" placeholder="Enter Promo Message" rows="4"> </textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit"class="btn btn-primary" >Send Promo!</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- View Registered Details Modal -->
@foreach (var Project in Model.filteredProjects1)
{
    <div class="modal fade" id="detailsModal-@Project.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Details</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <hr class="mx-4"/>
                <div class="modal-body">
                    <div class="row px-4">
                        <img src="@Project.ImageUrl" height="200" style="object-fit: contain; text-align: center" />
                        <div class="col-4 my-5">
                            <h6>Project Name</h6>
                            <h6>Project Description</h6>
                            <h6>Project Price</h6>
                            <h6>Project Location</h6>
                            <h6>Project Status</h6>
                            <h6>Constructor Name</h6>
                            <h6>Customer Name</h6>
                        </div>
                        <div class="col-6 my-5">
                            <h6>@Project.Name</h6>
                            <h6>@Project.Description</h6>
                            <h6>MYR @Project.Price</h6>
                            <h6>@Project.Location</h6>
                            @{
                                if (Project.Status == "Pending")
                                {
                                    <h6 class="badge bg-label-warning me-1">@Project.Status</h6>
                                }
                                else
                                {
                                    <h6 class="badge bg-label-primary me-1">@Project.Status</h6>
                                }
                            }
                            <h6>@Project.Constructor_Name</h6>
                            <h6>@Project.Customer_Name</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- View Finished Details Modal -->
@foreach (var Project in Model.filteredProjects2)
{
    <div class="modal fade" id="detailsModal-@Project.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Customer Details</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row px-4">
                        <img src="@Project.ImageUrl" height="200" style="object-fit: contain; text-align: center" />
                        <div class="col-4 my-5">
                            <h6>Project Name</h6>
                            <h6>Project Description</h6>
                            <h6>Project Price</h6>
                            <h6>Project Location</h6>
                            <h6>Project Status</h6>
                            <h6>Constructor Name</h6>
                            <h6>Customer Name</h6>
                        </div>
                        <div class="col-6 my-5">
                            <h6>@Project.Name</h6>
                            <h6>@Project.Description</h6>
                            <h6>MYR @Project.Price</h6>
                            <h6>@Project.Location</h6>
                            <h6 class="badge bg-label-success me-1">@Project.Status</h6>
                            <h6>@Project.Constructor_Name</h6>
                            <h6>@Project.Customer_Name</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
