@model IEnumerable<CASS___Construction_Assistance.Models.Project>

@{
	ViewData["Title"] = "Myproject";
}

@{
	Layout = "_ConstructorLayout";
}

<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">My Project</h1>
	</div>
</div>

<!-- Cart Start -->
<div class="container-fluid pt-5">
	<div class="row px-xl-5">
		<div class="col-lg-12 table-responsive mb-5">
			<table class="table table-bordered text-center mb-0">
				<thead class="bg-secondary text-dark">
					<tr>
						<th>Image</th>
						<th>Project</th>
						<th>Price</th>
						<th>Status</th>
						<th>Customer</th>
					</tr>
				</thead>
				<tbody class="align-middle">
					@foreach (var Project in Model)
					{
						<tr>
							<td class="align-middle"><img style="aspect-ratio: 1/1;object-fit:cover;height:50px" src="@Project.ImageUrl" alt=""> </td>
							<td class="align-middle"><a class="nav-link" asp-controller="Constructor" asp-action="Shop" asp-route-id="@Project.Id" >@Project.Name</a></td>
							<td class="align-middle">MYR @Project.Price</td>
							<td class="align-middle">@Project.Status</td>
							<td class="align-middle"><a class="nav-link" asp-controller="Constructor" asp-action="CustomerProfile">@Project.Name</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
</div>
<!-- Cart End -->
