@model CASS___Construction_Assistance.Models.Project

@{
	ViewData["Title"] = "Shop";
}

@{
	Layout = "_ConstructorLayout";
}

<!DOCTYPE html>
<html lang="en">

<body>

	<!-- Shop Detail Start -->
	<div class="container-fluid py-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 pb-5">
				<img class="w-100 h-100" style="aspect-ratio: 1/1;object-fit:cover" src="@Model.ImageUrl" alt="Image">
			</div>
			<div class="col-lg-7 pb-5">
				<h3 class="font-weight-semi-bold">@Model.Name</h3>
				<h3 class="font-weight-semi-bold mb-4">RM @Model.Price</h3>
				<p class="mb-4">@Model.Description</p>
				<div class="d-flex align-items-center mb-4 pt-2">
					@if (@Model.Status.Equals("Pending"))
					{
						<form asp-action="UpdateStatus">
							<input type="hidden" asp-for="Id" />
							<button type="submit" class="btn btn-primary px-3"><i class="fa fa-plus mr-1"></i> Take Project</button>
						</form>
					}
				</div>
			</div>
		</div>
	</div>
</body>

</html>

